
/* -------------------------------------------------- 
   Specific styles for About Us page 
   -------------------------------------------------- */

h1 {
	margin-bottom: 30px;
}

h2 {
	font-size: 20px;
	font-size: 2.0rem;
}

h3 {
	font-family: Candara, sans-serif;
	font-size: 20px;
	font-size: 2.0rem;	
}

.top-section {
	margin-bottom: 30px;
}

.top-section .button {
	float: right;
/*	position:absolute;
	right:20px;
	bottom:0;
	margin:0px 0 0 0;
*/
}

/* remove the float for the CTA button on mobile screens */
@media only screen and (max-width: 767px) {	
	 .top-section .button {float: none;}
}

/* The top section image should always fill the container its in */ 
.top-section img {
	width: 100%;
}

/* The top section image needs a border on mobile screens */
@media only screen and (max-width: 767px) {	
	 .top-section img {margin-bottom: 30px}
}


/* -------------------------------------------------- 
   The Team / Board / Advisors Section 
   -------------------------------------------------- */

.people-section {
	margin-top:30px;
}

/* Style the tabs */

dl.tabs dd {
	width: 202px;
	height: 31px;
	border: none;
}


/* Inactive tabs */
dl.tabs dd a {
	background: url("../img/tab-inactive.png") top left;
	border: none;
	color: #e28324;

}

/* Active tabs */
dl.tabs dd a.active {
	background: url("../img/tab-active.png") top left;
	border: none;
	color: white;

}



