
/* -------------------------------------------------- 
   Specific styles for Community page 
   -------------------------------------------------- */

	.block-grid.six-up { margin-left: -1% }
	.block-grid.six-up>li { margin-left: 1%; width: 15.5%; margin-bottom: 2%;}
/* 	.block-grid.three-up>li:nth-child(3n+1) {clear: left;} */

.community-grid li {
	height: 100%;
}

.community-grid img {
	display: block;
	margin:0 auto;
}

@media only screen and (max-width: 767px) {	
	.community-grid img.frame { padding: 7px;}
}

.community-grid p.orange-header-bar
{
	text-align: center;
	margin:0;
	padding:0;
}


