
/* -------------------------------------------------- 
   Specific styles for Community page 
   -------------------------------------------------- */


h1 {
	margin-bottom:30px;
}


/* Make the profile images appear full screen width on mobile */

@media only screen and (max-width: 767px) {	
	.community-grid li {width:auto !important;}
	.community-grid p.orange-header-bar {width: 100%;}
}

.community-grid p.orange-header-bar
{
	text-align: center;
	font-size:14px;
	font-size:1.4rem;
	white-space:nowrap;
	overflow: hidden;
	line-height: 2.8rem;
	margin:5px auto;
	padding:0;
	width:98%;
	box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	margin-bottom: 20px;	
}

.community-grid .frame {
	margin: 0;
}
