body { background: url('/img/background_dark.png') top center repeat-y #1E191C; }


/* Styling for header image */
#background { background: url('/img/header_dark.png') top center no-repeat; }

#top-background { background: url('/img/background_top.png') top left repeat-x; }

/*	--------------------------------------------------
   	Global
	-------------------------------------------------- */

a, h1, h2, h3, h4 { color: #F28C26; }

h1 {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 32px;
	font-size: 3.2rem;
	line-height:1.1em;
	letter-spacing:-1px;
	margin-bottom: 30px
}

h2 {
	font-family: Arial,sans-serif;
	font-size: 20px;
	font-size: 2.0rem;
	line-height:1em;
}

p {
	font-size: 14px;
	font-size:1.4rem;
	color: black;
}

.inset {
		padding: 20px 10px 10px 10px;
		background: #F0F0F1;
		-moz-box-shadow: inset 1px 2px 1px 1px rgba(0,0,0,0.1);
		-webkit-box-shadow: inset 1px 2px 1px 1px rgba(0,0,0,0.1);
		box-shadow: inset 1px 2px 1px 1px rgba(0,0,0,0.1);
}

/*	--------------------------------------------------
   	Reusable Components
	-------------------------------------------------- */

.service h2, .sidebar h2, .orange-header-bar {
	display:block;
	/* background: url('/img/header_background_orange.png') top left no-repeat;*/
	/* background: url('/img/small_orange_button.png') top left repeat; */
	/* background: #E38424; */
	background: #F28C26; 
	border: 0px solid #FFC060;
	height: 30px;
	line-height:1.8em;	padding: 0px 0px 0px 20px;
	font-family: Candara, sans-serif;
	font-size: 1.3em;
	text-align: left;
	color: white;
	
	/* Drop shadow */
	box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
	margin-bottom: 20px;
	
	/* rounded corners 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; */
}

/* Textured black frame for images */

.frame
{
	background: url('/img/black_texture_background.png') top left repeat-x #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding:10px;
	margin-bottom:30px;
}

.frame img {
   	width: 100%;
    margin: 0; padding: 0; border: 0;
    display: block;
}


.black-header-bar {	
	background: url('/img/black_texture_background.png') top left repeat-x; 
	/* border: 1px solid #969696;*/
	height: 28px;
	line-height:1.6em;
	padding: 0px 0px 0px 10px;
	font-family: Candara, sans-serif;
	font-size: 1.3em;
	text-align: left;
	color: white;
/*	box-shadow: 0 2px 5px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.45); */
	margin-bottom: 20px;
}

.clear{
	clear:both;
}

/* Eight-up version of the Zurb block grid */

.block-grid.eight-up { margin-left: -1% }
.block-grid.eight-up>li { margin-left: 1%; width: 11.5%; margin-bottom: 1%;}

/* Six-up version of the Zurb block grid */

.block-grid.six-up { margin-left: -1% }
.block-grid.six-up>li { margin-left: 1%; width: 15.5%; margin-bottom: 2%;}

/* Four column version of Zurb layout with thinner margins */

.quarter.columns {
	margin-left:1.2%;
	width: 24.16%;
	margin-bottom:20px;
}

.quarter.columns:first-child { margin-left: 0; }
.quarter.columns:last-child { margin-left: 0.8%; }

/*	--------------------------------------------------
   	Buttons
	-------------------------------------------------- */
	
.button.radius, .button.nice {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}

/* Large Button */

.button.huge {
	padding:7px 12px 7px 12px !important;
	font-size: 24px;
	font-size: 2.4rem;
}


.button.huge span {
	line-height:3.2rem;
	display:block;
	width:170px;
	height:35px;
	padding-right:35px;
	background: url("/img/large-button-arrow.png") center right no-repeat;
}

.button.large {
	padding:2px 10px 3px 0px !important;
	font-size: 18px;
	font-size: 1.8rem;
}


.button.large span {
	line-height:2;
	display:block;
	height:35px;
	padding-right:15px;
	background: url("/img/small-button-arrow.png") center right no-repeat;
}

.medium.button {
	line-height:2.2;
	padding:5px 30px 7px 10px;
	margin:0 auto;
	width:auto;
	display: block;
}

.medium.button span {
	background: url("/img/small-button-arrow.png") center right no-repeat;
	display: block;
	padding-right:18px;
	width: 100%;
}

/* Shrink the button text when the browser shrinks to prevent wrapping */

@media only screen and (max-width: 850px) {	
	.medium.button { font-size:11px; }
}

.button:hover {
	opacity: 0.5;
}

.cta-container .button {
	position: absolute;
	bottom:20px;
	right:45px;
}


/*	--------------------------------------------------
   	Header
	-------------------------------------------------- */
	
#header  {
	max-width: 980px;
	margin:auto auto 30px auto;
	position: relative;
}

#branding img {
	margin: 10px 0px 10px 40px;

}


/*	--------------------------------------------------
   	Main content container
	-------------------------------------------------- */

.container, #footer .row {
	max-width: 900px;
	margin:auto;
	
}


/*	--------------------------------------------------
   	               *** Home Page ***
	-------------------------------------------------- */


/*	--------------------------------------------------
   	Top section container (Carousel, CTA)
	-------------------------------------------------- */



.cta-container {
	position: relative;
	margin: 0;
	height:250px;
	padding-right:10px;
	padding-top:10px;
}


.cta-container h1 {
	font-size: 34px;
	font-size:3.4rem;
	font-weight: bold;
	color: black;

}

/* Reduce the strapline text size when the browser size shrinks */

@media only screen and (max-width: 890px) {	
	.cta-container h1 {font-size: 30px; font-size:3.0rem;}
	.cta-container .button {bottom:0px; }
	.cta-container .large.button span {width:140px;}
	.cta-container {height:200px}
}

/* Remove the fixed height on the CTA area when displaying on mobile as it will be too large*/

@media only screen and (max-width: 767px) {	
	.cta-container { height: auto; }
}


#masthead { 
	background:none; 
	clear:both;
	margin-bottom:30px;
	
}

#masthead h1
{
	font-family:arial;
	font-size:5em;	
	text-shadow: 1px 2px 3px #fff;
}

/*	--------------------------------------------------
   	Four Column Area (Services)
	-------------------------------------------------- */
		
	

.services {
	display:block;
	margin:0px 0px 10px 0px;
}


.service {
	padding: 20px 10px 10px 10px;
	background: #F0F0F1;
	/* max-height:300px;*/
	
	/* Inner Shadow */
/*	-moz-box-shadow: inset 3px 3px 1px 5px #888;
	-webkit-box-shadow: inset 3px 3px 1px 5px #888;*/
	-moz-box-shadow: inset 1px 2px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 2px 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 1px 2px 1px 1px rgba(0,0,0,0.1);
}

.service img {
	margin:0 auto;
	width:97%;
	/*max-height:120px;*/
	display:block;
	border: 1px solid black;
}

.service p {
	margin: 20px 0 40px 0;

}

.service .button {
	margin-bottom: 30px;
	width: 70%;
}


/*	--------------------------------------------------
   	Navigation
	-------------------------------------------------- */

#primary-nav {
	min-height: 54px;
	background: url('/img/menubar.png') top left repeat-x;
	margin-top: 0;
	margin-bottom:0;
	padding: 2px 0 0 40px;

	/* background: url('/img/menu_background.png') repeat-x; */
}

#primary-nav>li, #primary-nav>li>a, #primary-nav  {
	border:none;	
}



#primary-nav>li>a, #primary-nav>li span {
	background: url('/img/divider.png') top right no-repeat;
	text-shadow: 0px 1px 0px #F4F4F4;
	font-family: Candara, sans-serif;
	font-size: 	14px;
	font-size: 	1.4rem;
	font-weight: bold;
	color: #555; 
}

#primary-nav .flyout {
	width:100px;
	background: #f6f6f6;
	text-shadow: 0px 1px 0px #F4F4F4;
	font-family: Candara, sans-serif;
	font-size: 	14px;
	font-size: 	1.4rem;
	font-weight: bold;
}

#primary-nav>li.has-flyout a.main {
	padding-right:20px;
}

#primary-nav>li:first-child a {
	background: url('/img/divider.png') top left no-repeat;
	padding:0;	
}

#primary-nav>li.selected {
	background: url('/img/nav_selected_background.png') top left repeat-x;
}

#primary-nav>li span {
	height:54px;
	display:block;
	padding:0 20px 0 20px;
	
}

#primary-nav>li>a:hover{
	opacity:0.7;
}

/* Styles for the HUB menu button - appears for logged in users */
#primary-nav>li.hub {
	background: url("/img/nav-hub-background.png") top left repeat-x;	
}

#primary-nav>li.hub>a {
	color: white;
	text-shadow: none;
	font-weight:normal;
	background: url('/img/hub-divider.png') top right no-repeat;
}


/* Secondary navigation */

.secondary-nav { 
	position: absolute;
	right: 44px;
	top: 66px;
}

.secondary-nav li {
	margin: 0;
	padding:0;
	float:left;
}

.secondary-nav li a {
	display:block;
	width:  80px;
	height: 28px;
	color: white;
	font: 14px Candara, sans-serif;
	font-size: 	1.4rem;
	border: solid 1px #FFC060;
	background: url('/img/small_orange_button.png') top left no-repeat;
	text-align: center;
	line-height: 25px;
	
}

.secondary-nav li a.alternate {
	border: solid 1px #969696;
	background: url('/img/small_black_button.png') top left repeat;
}






/*	--------------------------------------------------
   	Two Column Area
	-------------------------------------------------- */

#news-area h2 {	
	background: url('/img/black_texture_background.png') top left repeat-x; 
	/* border: 1px solid #969696;*/
	height: 28px;
	line-height:1.6em;
	padding: 0px 0px 0px 10px;
	font-family: Candara, sans-serif;
	font-size: 1.3em;
	text-align: left;
	color: white;
/*	box-shadow: 0 2px 5px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.45); */
	margin-bottom: 20px;
}

h3.news-heading, h3.event-heading
{
	color: #E38323;
	font-family: candara, sans-serif;
	font-size: 24px;
	font-size: 2.4rem;
	margin: 0 0 5px 0;
	padding: 0;
	vertical-align: top;
	line-height:2rem;
	
}

.news-article header p {
		font-family: 12px 'Helvetica Neue', Helvetica, Sans-Serif;
		font-size:1.2rem;
		margin-bottom:10px;
}

.news-article header .date {
	font-style:italic;
}

.news-article header .comments {
	color:#E38323;
	font-weight: bold;
}

.news-article p.excerpt {
	font: 13px Helvetica, Sans-Serif;
	font-size: 1.3rem;
	line-height: 1.5rem;
}


.date-box
{
	border: solid gray 1px;
	width:70px;
	height:82px;
	text-align: center;
	margin:0;
}

.date-box .month
{
	/* background: url('/img/small_orange_button.png') top left no-repeat; */
	background: #F28C26; 
	height:27px;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	font-size: 18px;
	font-weight:bold;
	margin:0;
	
}

.date-box .day
{
	background: url('/img/white-background.png') top left;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 4.8rem;
	font-size: 48px;
	font-weight:bold;
	height: 55px;
	margin:0;
	line-height:1.2em;
	
	
}

/*	--------------------------------------------------
   	Sponsors Area
	-------------------------------------------------- */
	
.sponsors  {
	background: url('/img/sponsors_background.png') top center repeat-y #ebebed;
	margin:auto;
	margin-top: 50px;	
}




/*	--------------------------------------------------
   	Footer Area
	-------------------------------------------------- */
	
#footer {
	background: #000;
	padding: 0px 20px 50px 20px;
}


#footer h3 {
	background: url('/img/black_texture_background.png') top left repeat-x;
	border: 1px solid #5A5A5A;
	height: 28px;
	line-height:1.6em;
	padding: 0px 0px 0px 10px;
	font-family: Candara, sans-serif;
	font-size: 1.3em;
	text-align: left;
	color: white;
	margin-top: 30px;
}

.map {
	text-align: center;
	border: 1px #5A5A5A solid;
}


#footer .container
{
	padding-top: 30px;
}

#footer p, #footer a
{
	font-size: 1.1em;
	color: white;
}

#footer .networks li
{
	padding: 0 0 15px 0;
	vertical-align:middle;
}

#footer .networks a
{
	vertical-align:middle
}

#footer .networks img
{
	float:left;
	margin-right:10px;
	vertical-align:middle;
}



/*	--------------------------------------------------
   	Helpers 
	-------------------------------------------------- */
	
.visible { background: red; }

.thumb	{ border: red 5px solid; }

.shadow {
	/* Even soft drop shadow */
	box-shadow: 0 2px 5px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.45);
	
	/* Hard down-right drop shadow */
	/*box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);*/
	margin-bottom: 20px;
}

.inset-shadow {
   -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,0.35);
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.35);
   box-shadow:         inset 0 0 5px rgba(0,0,0,0.35);
}


/*	--------------------------------------------------
   	Typography
	-------------------------------------------------- */

h2 {
	line-height: 100%;
	font-size: 2.3em;
	
}

/*	--------------------------------------------------
   	Buttons
	-------------------------------------------------- */

.black-gradient {
	background: url('/img/black_gradient_background.png') top left repeat-x #000;
	/*background: url('/img/black_texture_background.png') top left repeat-x #000;*/	
}

.even {
	background-position: 70px 0px;
}

.rounded {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


