
/* -------------------------------------------------- 
   Specific styles for Sign-up page 
   -------------------------------------------------- */

h1 {
	margin-bottom: 1em;
}

.input-text, label {
	width: 100% !important;
}
#customDropdown {
	display:none;
}

/* Styles to line up opt-in button and label */

#checkbox { 
	float:left;
	margin:20px .5em 20px 0;
}

#checkbox-label { 
	display:block;
	overflow:hidden; 
	margin: 20px 0 20px 0;
}

input[type="submit"] {
	margin: 20px 0 20px 0;
}

input[type="submit"].button.large {
	padding:7px 0 !important;
	display:block;
	width:100px;
}


.large-image {
	margin-top: 18px;
	padding-right: 20px;
}
