
/* -------------------------------------------------- 
   Specific styles for Sign-up page 
   -------------------------------------------------- */


.input-text, label {
	width: 100% !important;
}
#customDropdown {
	display:none;
}

/* Styles to line up opt-in button and label */

#checkbox { 
	float:left;
	padding: .5em; 
}

#checkbox-label { 
	display:block;
	overflow:hidden; 
	padding: .5em;
}
